// Font Colors

html, body, p {
	color: $gray;
	font-family: 'MuseoSans-500', Arial, sans-serif;
}

p small {
  line-height: 1rem;
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

// Fonts

html, body, p, h1, h2, h3, h4, h5, h6 {
	font-family: $museo-sans;
	color: $gray;
}
