// Bloom Color Palette
//////////////////////////////////////////////////////////////////////

$bloom-blue:     #1F497D;
$bloom-orange:   #E37929;
$bloom-gray:     #7f7f7f;
$bloom-green:    #276327;
$bloom-drk-blue: #002060;


// Color Palette
//////////////////////////////////////////////////////////////////////

$white:      #fff;
$light-gray: #f6f6f6;
$gray:       #9b9b9b;
$dark-gray:  #4a4a4a;