// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: 'MuseoSans-500', Arial;
$serif: $georgia;

$base-font-family: 'MuseoSans-500', Arial, $sans-serif;
$header-font-family: $base-font-family;

// Main Heading Fonts
$museo-sans:        'MuseoSans-500', Arial, sans-serif;
$museo-sans-italic: 'MuseoSans-500Italic', Arial, sans-serif;



// COLORS
//////////////////////////////////////////////////////////////////////

// Bloom Brand Colors
$bloom-blue:     #1F497D; // RGB: 31, 73, 125
$bloom-orange:   #E37929; // RGB: 227, 121, 41
$bloom-gray:     #7f7f7f; // RGB: 127, 127, 127
$bloom-green:    #276327; // RGB: 39, 99, 39
$bloom-drk-blue: #002060; // RGB: 0, 32, 96

$bloom-colors: (
	('bloom-blue',     $bloom-blue),
	('bloom-orange',   $bloom-orange),
	('bloom-gray',     $bloom-gray),
	('bloom-green',    $bloom-green),
	('bloom-drk-blue', $bloom-drk-blue)
);

// Web Colors
$white:          #fff; // RGB: 255, 255, 255
$lighter-gray:   #f6f6f6; // RGB: 246, 246, 246
$light-gray:     #ddd; // RGB: 221, 221, 221
$gray:           #9b9b9b; // RGB: 155, 155, 155
$dark-gray:      #4a4a4a; // RGB: 74, 74, 74

$web-colors: (
	('white',        $white),
	('lighter-gray', $lighter-gray),
  ('light-gray',   $light-gray),
	('gray',         $gray),
	('dark-gray',    $dark-gray)
);

// Special Colors
$huskies:        #372557; // RGB: 55, 37, 87

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $gray;
$base-accent-color: $bloom-orange;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-link-color, 5);

// Border color
$base-border-color: #ddd;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;



// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

