<h1>posts</h1>

<div>
	<%= link_to "New Post", new_admin_post_path %>
</div>
<div id="posts">
<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title %>
  </h2>
  <div class="info">
  </div>
  <div class="content"><%= post.body %></div>
<% end %>
</div>
