.container {
	min-height: 100%;
	position: relative;
}

.footer {
	padding: 40px 0px 60px;
	position: relative;
	bottom: 0px;
	height: 40px;
}

.footer-item {
	display: inline-block;
	line-height: 24px;
	color: $gray;
}

.footer-item:first-of-type {
	margin: 0px 10px 0px 0px;
}

.footer-item:not(:first-of-type) {
	margin: 0px 10px;
}

ul.f-right {
	.footer-item:last-of-type {
		margin: 0px 0px 0px 10px;
	}
}

.footer-link {
	color: $gray;
}

.main-footer {
	padding: 3px;
	&:hover {
		color: $gray;
		border-bottom: 2px solid $bloom-orange;
	}
}