.nav {
	background-color: rgba(31, 73, 125, 0.85);
}

.nav-inner {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-item {
	display: inline-block;
	margin: 0px 10px;
	line-height: 34px;
}

.nav-link {
	padding: 3px;
	color: $white;
	&:hover {
		color: $white;
		border-bottom: 2px solid $bloom-orange;
	}
}

.large-hero {
	background-size: cover;
}

.intro-arrow {
	color: $white;
}

@keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-webkit-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-moz-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-o-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

.intro-arrow:hover {
	position: relative;
	color: $bloom-orange;
	animation: bounce 0.9s infinite;
  -webkit-animation: bounce 0.9s infinite;
  -moz-animation: bounce 0.9s infinite;
  -o-animation: bounce 0.9s infinite;
}