.nav {
	background-color: rgba(31, 73, 125, 0.85);
}

.nav-inner {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-item {
	display: inline-block;
	margin: 0px 10px;
	line-height: 34px;
}

.nav-link {
	padding: 3px;
	color: $white;
	&:hover {
		color: $white;
		border-bottom: 2px solid $bloom-orange;
	}
}

.current {
	border-bottom: 2px solid $bloom-orange;
}

@keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-webkit-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-moz-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}

@-o-keyframes bounce {
  0%   {top:0px;}
	50%  {top:8px;}
	100% {top:0px;}
}