.nav {
	background-color: rgba(31, 73, 125, 0.85);
}

.nav-inner {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-item {
	display: inline-block;
	margin: 0px 10px;
	line-height: 34px;
}

.nav-link {
	padding: 3px;
	color: $white;
	&:hover {
		color: $white;
		border-bottom: 2px solid $bloom-orange;
	}
}

.large-hero {
	background-size: cover;
}