.large-hero {
	width: 100%;
	position: relative;
	background-size: 100%;
  background-size: cover;
	background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.fixed-image {
	background-attachment: fixed;
	overflow: hidden;
}

.hero {
	background-color: rgba(31, 73, 125, 0.85);
	padding-top: 70px;
	text-align: center;
}

.hero-font {
	font-size: 3.75rem;
	color: $white;
}

.intro-arrow-box {
	padding: 40px 0px;
}

.intro-arrow {
	color: $white;
}

.intro-arrow:hover {
	position: relative;
	color: $bloom-orange;
	@include animation(bounce .8s infinite);
}