.practice-area-one {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 152px;
}

div[data-equalizer-watch] {
	position: relative;
}

.bottom-line {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.w-100 {
  width: 100%;
}

.z-999 {
  z-index: 999;
}

.clear-nav-anchor {
	position: relative;
	top: -60px;
}
