@each $val in  5, 10, 15, 20, 25, 30, 40, 50, 60 {

	// Padding
	.p-#{$val}, %p-#{$val} {
		padding: #{$val}px;
	}

	.p-top-#{$val}, %p-top-#{$val} {
		padding-top: #{$val}px;
	}

	.p-right-#{val}, %p-right-#{val} {
		padding-right: #{$val}px;
	}

	.p-bottom-#{$val}, %p-bottom-#{$val} {
		padding-bottom: #{$val}px;
	}

	.p-left-#{$val}, %p-left-#{$val} {
		padding-left: #{$val}px;
	}

	// Margin
	.m-#{$val}, %m-#{$val} {
		margin: #{$val}px;
	}

	.m-top-#{$val}, %m-top-#{$val} {
		margin-top: #{$val}px;
	}

	.m-right-#{$val}, %m-right-#{$val} {
		margin-right: #{$val}px;
	}

	.m-bottom-#{$val}, %m-bottom-#{$val} {
		margin-bottom: #{$val}px;
	}

	.m-left-#{$val}, %m-left-#{$val} {
		margin-left: #{$val}px;
	}

}