.btn {
	border-radius: 3px;
	text-transform: uppercase;
	width: 100%;
	vertical-align: middle;
	&:hover {
		background-color: darken($bloom-orange, 5);
		color: $white;
	}
	@include transition (all 0.2s ease-in-out);
	@include ie7-inline-block();
}

.btn-filled {
	background-color: $bloom-orange;
	color: $white;
	border: 1px solid $bloom-orange;
}

.btn-empty {
	color: $bloom-orange;
	border: 1px solid $bloom-orange;
	background-color: transparent;
}

.btn-block {
	display: block;
}

.btn-c-318 {
	width: 318px;
}

.btn-m {
	padding: 10px 20px;
	span[data-icon] {
		position: relative;
		top: 3px;
	}
}

.btn-l {
	padding: 15px;
	span[data-icon] {
		position: relative;
		top: 2px;
	}
}

.btn-text, .btn-icon {
	position: relative;
	top: 2px;
	span[data-icon] {
		position: relative;
		top: 3px;
	}
}

.back-to-top {
	display: none;
	position:	fixed;
	right: 0px;
	bottom: 40px;
	background-color: $bloom-orange;
	padding: 10px;
	z-index: 99;
}
