// Background Colors
.bgc-blue           { background-color: $bloom-blue; }
.bgc-orange         { background-color: $bloom-orange; }
.bgc-bloom-gray     { background-color: $bloom-gray; }
.bgc-green          { background-color: $bloom-green; }
.bgc-drk-blue       { background-color: $bloom-drk-blue; }

.bgc-white          { background-color: $white; }
.bgc-lghter-gray    { background-color: $lighter-gray; }
.bgc-lght-gray      { background-color: $light-gray; }
.bgc-gray           { background-color: $gray; }
.bgc-drk-gray       { background-color: $dark-gray; }

.bgc-huskies        { background-color: $huskies; }


// Patterns

.bg-shattered {
  background-image: url('shattered-orange.png');
  background-repeat: repeat;
}

.bg-gplay {
  background-image: url('gplaypattern.png');
  background-repeat: repeat;
}

.bg-zebra {
  background-image: url('subtle_zebra_3d.png');
  background-repeat: repeat;
}

.bg-lined-paper {
  background-image: url('lined_paper.png');
  background-repeat: repeat;
}

.bg-diag-noise {
  background-image: url('diagonal-noise.png');
  background-repeat: repeat;
}

.bg-bright-squares {
  background-image: url('bright_squares.png');
  background-repeat: repeat;
}

.bg-bloom-lines {
  background-image: url('bloom-lines.png');
  background-repeat: repeat;
}

.bg-crossword {
  background-image: url('crossword.png');
  background-repeat: repeat;
}

// Font Colors
.c-blue           { color: $bloom-blue; }
.c-orange         { color: $bloom-orange; }
.c-bloom-gray     { color: $bloom-gray; }
.c-green          { color: $bloom-green; }
.c-drk-blue       { color: $bloom-drk-blue; }

.c-white          { color: $white; }
.c-lghter-gray    { color: $lighter-gray; }
.c-lght-gray      { color: $light-gray; }
.c-gray           { color: $gray; }
.c-drk-gray       { color: $dark-gray; }

.c-huskies        { color: $huskies; }