.ta-center { text-align: center; }
.ta-right  { text-align: right; }
.ta-left   { text-align: left; }

.f-italics {
  font-family: 'MuseoSans-500Italic', Arial, sans-serif;
}

.h5-icon { 
	position: relative;
	top: 2px;
  font-size: 1rem;
}

.p-icon {
  position: relative;
  top: 2px;
}

.lh-h1 {
  line-height: rem(45px);
}

.link-white {
	color: $white;
	&:hover {
		color: $white;
	}
}

// Line Height for Medium Buttons
.lh-btn-m {
  line-height: 42px;
}

// Delete Link Styling
.delete-icon {
  color: $light-gray;
  &:hover {
    color: $bloom-orange;
  }
}
