.ta-center { text-align: center; }

.h5-icon { 
	position: relative;
	top: 4px;
}

.p-icon {
  position: relative;
  top: 3px;
}

.lh-h1 {
  line-height: rem(45px);
}

.link-white {
	color: $white;
	&:hover {
		color: $white;
	}
}

.hero-font {
  font-size: rem(48px);
}

// Line Height for Medium Buttons
.lh-btn-m {
  line-height: 42px;
}

// Dirty TinyMCE fix