<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Intro title</th>
      <th>Intro copy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.intro_title %></td>
        <td><%= team.intro_copy %></td>
        <td><%= link_to 'Edit', edit_admin_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

