.nav-admin
  .row.nav-inner
    .small-4.columns
      = link_to root_path do
        %img{src: "/assets/logo/bloom-logo-gray.svg", style: "max-height: 40px;"}
    .small-8.columns
      - if logged_in?
        %ul.l-no-style.f-right.m-bottom-0
          %li
            = link_to logout_path, class: "btn btn-empty btn-m btn-block" do
              %span.btn-text Logout