%footer.footer
	.row
		.small-12.medium-8.columns
			%ul
				%li.footer-item
					= link_to "Meet the Team", team_path, class: "footer-link"
				%li.footer-item
					= link_to "Insights", root_path, class: "footer-link"
				%li.footer-item
					= link_to "Contact", contact_path, class: "footer-link"
		.small-12.medium-4.columns
			%ul{style: "float: right;"}
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "i", href: "#"}
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "h", href: "#"}
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "j", href: "#"}