%footer.footer
	.row
		.small-12.medium-8.columns
			%ul
				%li.footer-item
					= active_link_to "Meet the Team", team_path, class: "footer-link main-footer", :class_active => "current"
				%li.footer-item
					= active_link_to "Insights", insights_path, class: "footer-link main-footer", :class_active => "current"
				%li.footer-item
					= active_link_to "Contact", contact_path, class: "footer-link main-footer", :class_active => "current"
		.small-12.medium-4.columns
			%ul.f-right
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "i", href: "#", target: "_blank"}
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "h", href: "#", target: "_blank"}
				%li.footer-item
					%h4
						%a.footer-link{"data-icon" => "j", href: "#", target: "_blank"}