.nav
  .row.nav-inner
    .small-4.columns
      = link_to root_path do
        %img{src: "assets/logo/bloom-logo-small.svg"}
    .small-8.columns
      %ul{style: "float: right;"}
        %li.nav-item
          = link_to "Practice Areas", practiceareas_path, class: "nav-link"
        / %li.nav-item
        /   = link_to "Careers", careers_path, class: "nav-link"
        / %li.nav-item
        /   = link_to "About", about_path, class: "nav-link"